.problem_topics.json
.solve_topics.json
leetcode_sync_config.json
utils/sync/
prompt.md
.metadata.json
.problems_metadata.json
history.txt
log.txt
misc/prompts/*
misc/schedule/*
solved.txt
*_prompt.txt
today.txt
.envrc
backtracking.py
tmp.py
data.py
*.ipynb
.vscode
*.png
keep_forgetting.py
todo.py
tasks.txt
done_tasks.txt
stubs.py
makefile
__pycache__
.branch_order.json
.venv
stronglifts/