.DS_Store
data/solve_topics.json
.envrc
*.ipynb
.vscode
*.png
__pycache__
.branch_order.json
.venv
graph/kg*.svg
graph/*_brief_*
misc/prompts/*
backtracking.py
dsa/monotonic_stack_problems/media/*.mov
breaktime.py
.force.json
.solve_meta.json
utils/kg/kg_mock_rs/target/
utils/kg/kg_movie_rs/target/
data/study_plan/
research/
graph/leet.db
graph/kg_next
